.vem-space {
  height: 100vh;
  width: 100%;

  display: grid;

  grid-template-columns: 1fr minmax(0,8fr) 1fr;
  grid-template-rows: 0.5fr 5fr 1fr 2fr 2fr;
  grid-template-areas:
    " . vem_txt . "
    " . graph . "
    " . form . "
    " . table . "
    " . . . ";
}

.vem_text{
  grid-area: vem_txt;
  justify-self: center;
  align-self: center;
}

.graph {
  grid-area: graph;
  justify-self: center;
  align-self: end;

  height: 100%;
  width: 100%;
}

.activity_form{
  grid-area: form;
  justify-self: center;
  align-self: start;

}


.table{
  height: 100%;
  width: 100%;

  grid-area: table;
  justify-self: center;
  align-self: center;
}
