
.main-space{

height: 100vh;
display: grid;

grid-template-columns: 1fr;
grid-template-rows: 1fr;

grid-template-areas: " box ";

}

.box{
  grid-area: box;

  height: 30vh;
  width: 40vw;

  min-width: 300px;
  max-width: 500px;

  min-height: 300px;
  max-height: 800px;

  justify-self: center;
  align-self: center;

  background-color: lightblue;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". txt ."
  ". af ."
  ". pf hb"
  ". . login";

}
.login{
  grid-area: login;

  justify-self: center;
  align-self: center;
}

.text{
  grid-area:txt;

  color: white;
  font-size: 2rem;
  justify-self: center;
  align-self: center;

}

.hide-btn{
  color:white;
grid-area: hb;
justify-self: start;
align-self: center;

}

.example-container{



  grid-area: pf;
  justify-self: center;
  align-self: center;
}
.example-container2{
  grid-area: af;
  justify-self: center;
  align-self: center;
}

input.example-right-align {
  -moz-appearance: textfield;
}
