<div class="settings-space">
  <div class="settings-list">
    <div class="title">
      Settings
    </div>
 
    <mat-radio-group [(ngModel)]="selected" aria-label="Select an option" class="s1" style="float: left; width:100%; margin-bottom: 10px">
      Display Type:
      <mat-radio-button value="1" (change)="radioChange($event)">Normal</mat-radio-button>
      <mat-radio-button value="2" (change)="radioChange($event)">Colorblind</mat-radio-button>
      
    </mat-radio-group>

    <mat-radio-group aria-label="Select an option" class="s2" style="float: left; width:100%; margin-bottom: 10px">
      Participate in VEM:
      <mat-radio-button value="1"> Yes </mat-radio-button>
      <mat-radio-button value="2"> No </mat-radio-button>
    </mat-radio-group>
    <mat-radio-group aria-label="Select an option" class="s3" style="float: left; width:100%; margin-bottom: 10px">
      Options A:
      <mat-radio-button value="1"> Yes </mat-radio-button>
      <mat-radio-button value="2"> No </mat-radio-button>
    </mat-radio-group>
    <mat-radio-group aria-label="Select an option" class="s4" style="float: left; width:100%; margin-bottom: 10px">
      Options B:
      <mat-radio-button value="1"> True </mat-radio-button>
      <mat-radio-button value="2"> False </mat-radio-button>
    </mat-radio-group>
    <mat-radio-group aria-label="Select an option" class="s5" style="float: left; width:100%; margin-bottom: 10px">
      Options C:
      <mat-radio-button value="1"> Yes </mat-radio-button>
      <mat-radio-button value="2"> No </mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button color="warn" class="login" (click)="onLogout()">Log Out</button>
  </div>
</div>
