<div class="settings-space">
  <div class="settings-list">
      <mat-radio-group aria-label="Select an option">
          Display Type:
          <mat-radio-button value="1">Normal</mat-radio-button>
          <mat-radio-button value="2">Colorblind A</mat-radio-button>
          <mat-radio-button value="2">Colorblind B</mat-radio-button>
          <mat-radio-button value="2">Colorblind C</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group aria-label="Select an option">
            Option 1:
            <mat-radio-button value="1"></mat-radio-button>

          </mat-radio-group>
  </div>
</div>
