.settings-space {
  height:100%;
  width: 100%;

  display: grid;

  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 8fr 2fr;
  grid-template-areas:
  ". . ."
  ". sl ."
  ". . .";
}

.settings-list {

  display: box;
  box-direction: vertical;

  grid-area: sl;
  height:100%;
  width: 100%;

  background-color: lightblue;

  align-self: center;
  justify-self: center;
}
