.introCardMain {
  font-family: "Montserrat", sans-serif;
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ". item1 ."
    "item2 item2 item2"

}
.item1 {
grid-area: item1;
height: 40%;
justify-self: center;
align-self: center;

}
.item2{
  grid-area: item2;
  height: 60%;
  justify-self: center;
  align-self: center;
}
