<!-- app.component.html -->
<div class="mainArea">
  <div
    fullpage
    id="fullpage"
    [options]="config"
    (ref)="getRef($event)"
    class="fp"
  >
    <!--Main Pages Section-->
    <div class="section" fp-auto-height>
      <!--Energy History Profile-->
      <div class="slide" style="background-color: lightblue">
        <app-ehp-page></app-ehp-page>
      </div>
      <!--Suggestion Page-->
      <div class="slide" style="background-color: lightblue">
        <app-vem-page></app-vem-page>
      </div>
      <div class="slide" style="background-color: lightblue;   vertical-align: top!important;">
        <app-ranking-list-page></app-ranking-list-page>
      </div>

      <!--Ranking Page-->
    </div>
    <!--Settings Section-->
    <div class="section" fp-auto-height style="background-color: lightcoral">
      <app-settings></app-settings>
    </div>
    <div class="section" fp-auto-height style="background-color: lightcoral">
      <app-profile-page></app-profile-page>
    </div>
  </div>
  <!--Navigation Menu-->
  <app-main-navigation-menu [fullpage_api]="getFullpageAPI()" class="nm">
  </app-main-navigation-menu>
</div>
