<!-- app.component.html -->


<div class="mainArea">
  <div
    fullpage
    id="fullpage"
    [options]="config"
    (ref)="getRef($event)"
    class="fp"
  >
    <!--Main Pages Section-->
    <div class="section" fp-auto-height>
      <!--Energy History Profile-->
      <div class="slide colorSecondary" >
        <app-ehp-page></app-ehp-page>
      </div>
      <!--VEM Page-->
      <div class="slide colorSecondary" >
        <app-vem-page></app-vem-page>
      </div>
      <!--Ranking Page-->
      <div class="slide colorSecondary">
        <app-ranking-list-page></app-ranking-list-page>
      </div>
    </div>
    <!--Settings Section-->
    <div class="section colorSecondary" fp-auto-height >
      <app-settings></app-settings>
    </div>
    <div class="section colorSecondary" fp-auto-height >
      <app-user-change-password [fullpage_api]="getFullpageAPI()" class="slide "></app-user-change-password>
      <app-profile-page [fullpage_api]="getFullpageAPI()"  class="slide "></app-profile-page>
      <app-user-change-info class="slide " style="height: 60vh; width: 90vw;"></app-user-change-info>
    </div>
  </div>
  <app-top-nav-menu [fullpage_api]="getFullpageAPI()" style="position: fixed; height: 10vh; width: 100vw; z-index: 999;"></app-top-nav-menu>
  <!--Navigation Menu-->
  <app-main-navigation-menu [fullpage_api]="getFullpageAPI()" class="nm">
  </app-main-navigation-menu>
</div>
