$primary: var(--primary-color);
$secondary: var(--secondary-color);

.mainArea {
  display: grid;

  grid-template-columns: 0fr 10fr 0fr;
  grid-template-rows: 1fr minmax(0, 12fr);
  grid-template-areas:
    " . fp . "
    " . nm . ";
}

.fp {
  grid-area: fp;
  height: 90vh !important;

}

.nm {
  grid-area: nm;
  height: 10vh;
}

.colorSecondary{
  background-color: $secondary;
}
.colorPrimary{
  background-color: $primary;
}