.main{
    display: grid;
    height: 100%;
    width: 100%;

    grid-template-rows:3fr 3fr 3fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "main"
    "main"
    "main"
    "nav" 
}

.navMenu{
    grid-area: nav;
    justify-self: center;
    align-self: center;

    height: 100%;
    width: 100%;
}
.space{
    grid-area: main;

    justify-self: center;
    align-self: center;

    height: 100%;
    width: 100%;
}