$primary: var(--primary-color);
$secondary: var(--secondary-color);
$arrow: var(--arrow-color);

.main-space {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: " box ";
}

.box {
  grid-area: box;

  height: 30vh;
  width: 40vw;

  min-width: 300px;
  max-width: 500px;

  min-height: 300px;
  max-height: 800px;

  justify-self: center;
  align-self: center;

  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". txt txt ."
    ". af af ."
    ". pf pf hb"
    ". register login .";
}

.register {
  grid-area: register;

  justify-self: end;
  align-self: center;
}

.login {
  grid-area: login;

  justify-self: start;
  align-self: center;
}

.text {
  grid-area: txt;

  color: white;
  font-size: 2rem;
  justify-self: center;
  align-self: center;
}

.hide-btn {
  color: white;
  grid-area: hb;
  justify-self: start;
  align-self: center;
}

.passwordField1{
  grid-area: pf;
  justify-self: center;
  align-self: center;
}
.passwordField2{
  grid-area: af;
  justify-self: center;
  align-self: center;
}

input.example-right-align {
  -moz-appearance: textfield;
}
