<mat-card class="main-space">
    <div class="box">
      <div class="text">
        Change Password
      </div>
  
      <div class="passwordField2">
        <mat-form-field appearance="fill" class="passwordField">
          <mat-label>Old Password</mat-label>
          <input
            #passwordInput
            matInput
            [type]="hide ? 'password' : 'text'"
            (input)="updateOldPassword($event)"
          />
        </mat-form-field>
      </div>
      <div class="passwordField1">
        <mat-form-field appearance="fill" class="passwordField">
          <mat-label>New Password</mat-label>
          <input
            #passwordInput
            matInput
            [type]="hide ? 'password' : 'text'"
            (input)="updateNewPassword($event)"
          />
        </mat-form-field>
      </div>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        class=" hide-btn "
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <button mat-raised-button class="register" (click)="onRegister()">Cancel</button>
      <button mat-raised-button class="login" (click)="onChange()">Change</button>
    </div>
</mat-card>
  