.menu_body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  display: grid;


  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
  grid-template-areas:
                        " . b1 . b2 . b3 ."
}

.button{
    justify-self: center;
    align-self: center;

    height: 100%;
    width: 100%;
}

.b1{
    grid-area: b1;
}

.b2{
    grid-area: b2;
}

.b3{
    grid-area: b3;
}