<mat-card class="menu_body" >
    <button mat-raised-button class="button b1" color="primary" (click)="fullpage_api.moveTo('main', 1)">Button1</button>
    <button mat-raised-button class="button b2" color="accent" (click)="fullpage_api.moveTo('main', 2)">Button2</button>
    <button mat-raised-button class="button b3" color="warn" (click)="fullpage_api.moveTo('main', 3)">Button3</button>
    <button mat-raised-button class="button b4" color="warn" (click)="fullpage_api.moveTo('settings', 0)">Settings</button>
</mat-card>
