.menu_body{
  width: 100%;
  height: 10vh;
  box-sizing: border-box;

  display: grid;


  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 5fr 1fr 5fr 1fr 5  0.5fr;
  grid-template-areas:
   " . b1 . b2 . b3 ."
}

$primary: var(--primary-color);
$secondary: var(--secondary-color);

.button{
    justify-self: center;
    align-self: center;

    height: 100%;
    width: 100%;
    padding: 0 2px !important;
    background-color: $primary;
}

.b1{
    grid-area: b1;

}

.b2{
    grid-area: b2;

}

.b3{
    grid-area: b3;
    
}

.b4{
  grid-area: b4;
}
.b5{
  grid-area: b5;
}

