.ehp-space {
  height: 100vh;
  width: 100%;

  display: grid;

  grid-template-columns: 1fr minmax(0, 8fr) 1fr;
  grid-template-rows: 0.5fr 1fr 10fr 0.5fr 2fr 1fr;
  grid-template-areas:
    " . ehp_txt . "
    ". . ."
    " graph graph graph "
    " . conf . "
    " . table . "
    " . . . ";
}

.ehp-text {
  grid-area: ehp_txt;
  align-self: center;
  justify-self: start;
}

.graph {
  grid-area: graph;
  height: 100%;
  width: 100%;
}

.graph-conf {
  grid-area: conf;
  align-self: center;
  justify-self: center;
}

.gcspace {
  display: grid;

  width: 100%;
  height: 90%;
  padding: 0!important;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.3fr;
  grid-template-areas:
    " . dt dt ."
    " . dend dps ."
    " . dstart dpe ."
    " . update update ."
    " . . . ."
;
}

.date_end {
  grid-area: dend;
  align-self: center;
  justify-self: center;
}
.date_start {
  grid-area: dstart;
  align-self: center;
  justify-self: center;
}
.date_picker_end{
  grid-area: dpe;
  align-self: center;
  justify-self: center;
}
.date_picker_start{
  grid-area: dps;
  align-self: center;
  justify-self: center;
}
.date_text{
  grid-area: dt;
  align-self: center;
  justify-self: center;
}

.update{
  grid-area: update;
  align-self: center;
  justify-self: center;
}