/* You can add global styles to this file, and also import other style files */

@import url(~fullpage.js/dist/fullpage.min.css);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.377);
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent rgba(255, 255, 255, 0.377) transparent transparent;
}
